body {
  margin-left: 28%;
  margin-top: 10%;
  background-image: url("http://www.iqimila.com/assets/fullimage/table-top-wood-floor-kh1yn62rufvz6akf.jpg");
}

h1 {
  color: white;
  font-size: 60px;
  margin-left: 0px;
}

h2 {
  color: white;
  font-size: 20px;
  margin-left: 60px;
}

.scorep1 {
  font-size: 20px;
  color: white;
}

.scorep2 {
  font-size: 20px;
  color: white;
}
